.card-img-top {
    margin-top: 5px;
    background-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 50%;
  }
  .fundo-img{
    background-color: #F2F2F2;
    border-radius: 5px;;
}
.card{
    cursor: pointer;
}
.card:hover {
	animation: bounce 0.7s linear;
}
@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}