body{
	background:  radial-gradient(#eee, #7ca1e6);
}
.steel {
	background-color: rgb(183, 185, 208);
}

.fire {
	background-color: rgb(253, 125, 36);
}

.grass {
	background-color: rgb(155, 204, 80);
}

.electric {
	background-color: rgb(238, 213, 53);
}

.water {
	background-color: rgb(69, 146, 196);
}

.ice {
	background-color: rgb(154, 214, 223);
}

.ground {
	background-color: rgb(222, 193, 107);
}

.rock {
	background-color: rgb(182, 158,  49);
}

.fairy {
	background-color: rgb(230, 158, 172);
}

.poison {
	background-color: rgb(185, 127, 201);
}

.bug {
	background-color: rgb(114, 159, 63);
}

.dragon {
	background-color: rgb(112,  55, 255);
}

.psychic {
	background-color: rgb(251,  85, 132);
}

.flying {
	background-color: rgb(168, 145, 236);
}

.fighting {
	background-color: rgb(193,  34,  57);
}

.normal {
	background-color: rgb(170, 166, 127);
}