body{
	background:  radial-gradient(#eee, #7ca1e6);
}
.steel {
	background-color: rgb(183, 185, 208);
}

.fire {
	background-color: rgb(245, 125,  49);
}

.grass {
	background-color: rgb(116, 203,  72);
}

.electric {
	background-color: rgb(249, 207,  48);
}

.water {
	background-color: rgb(100, 147, 235);
}

.ice {
	background-color: rgb(154, 214, 223);
}

.ground {
	background-color: rgb(222, 193, 107);
}

.rock {
	background-color: rgb(182, 158,  49);
}

.fairy {
	background-color: rgb(230, 158, 172);
}

.poison {
	background-color: rgb(164,  62, 158);
}

.bug {
	background-color: rgb(167, 183,  35);
}

.dragon {
	background-color: rgb(112,  55, 255);
}

.psychic {
	background-color: rgb(251,  85, 132);
}

.flying {
	background-color: rgb(168, 145, 236);
}

.fighting {
	background-color: rgb(193,  34,  57);
}

.normal {
	background-color: rgb(170, 166, 127);
}